QA_BASE_URL=http://127.0.0.1:4173
QA_SUPABASE_URL=http://127.0.0.1:55431
QA_CREDENTIALS_MANIFEST=
QA_MODEL_PROVIDER=
QA_MODEL_NAME=
QA_MODEL_API_KEY=
QA_AGENT_ENABLED=false
QA_MAX_AGENT_STEPS=30
QA_MAX_AGENT_RETRIES=2
QA_ARTIFACT_ROOT=
QA_FAIL_ON_MEDIUM=false
